/* Estilos generales */
body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f8f9fa; /* Fondo clarito para todo el sitio */
    color: #333;
}

header {
    background-color: white; /* Fondo blanco para el header */
    color: #000; /* Texto negro que dice evelin juli */
    padding: 50px;
    text-align: center;
}

header h1 {
    font-size: 3rem;
    margin-bottom: 20px;
    font-weight: bold;
}

/* Otros estilos */
section {
    background-color: white; /* Fondo clarito */
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
    color: black; /*texto*/
}

/* Nuevos estilos para la tarjeta de "Proyectos" */
.card-text {
    line-height: 1.8; /* Aumenta el espaciado entre líneas */
    margin-bottom: 15px; /* Espacio adicional al final del párrafo */
}

.card-text strong {
    display: block; /* Cada texto en negrita ocupará una línea separada */
    margin-top: 20px; /* Añade un margen superior entre cada sección del texto */
}

/* Estilos para listas dentro de .card-text */
.card-text ul {
    margin-top: 10px; /* Añade espacio antes de las listas */
    margin-bottom: 10px; /* Añade espacio después de las listas */
}

footer {
    background-color: #343a40;
    color: white;
    padding: 10px 0;
    text-align: center;
}
